[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
isort = "*"
django-extensions = "*"
ipdb = "*"

[packages]
black = "==18.9b"
django = "*"
djangorestframework = "*"
django-tables2 = "*"
django-filter = "*"
ipython = "*"
django-bootstrap4 = "*"
pymysql = "==0.9.3"
psycopg2 = "==2.7.7"
psycopg2-binary = "==2.7.7"
mysql-connector-python = "==8.0.15"

[requires]
python_version = "3.7"
