[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
isort = "*"

[packages]
black = "==18.9b"
django = "*"
djangorestframework = "*"
django-tables2 = "*"
django-filter = "*"
ipython = "*"

[requires]
python_version = "3.7"
