{% extends "govproject/projects_base.html" %}
{% load bootstrap4 %}
{% load humanize %}

{% block extra_head %}
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
{% endblock %}

{% block content %}
    {{ block.super }}
    <a href="{% url 'govproject.GovernmentProjectListView' %}" class="button">&#8592; Back to projects</a>
    {% if perms.sites.frontend_access %}
        <a href="{% url 'govproject.GovernmentProjectEditView' object.slug %}" class="btn btn-light pull-right">
            <span class="oi oi-pencil"></span> Edit project</a>
    {% endif %}

    <h3>{{ object.title }}</h3>
    <p>
        {{ object.description }}
    </p>
    <div class="card card-nav-tabs card-plain">
      <div class="card-header card-header-danger">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs nav-pills-primary nav-tabs justify-content-center mt-4" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="implementation-tab" href="#implementation" data-toggle="tab" role="tab" aria-controls="implementation" aria-selected="true">Implementation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="progress-tab" href="#progress" data-toggle="tab" role="tab" aria-controls="progress" aria-selected="false">Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="media-tab" href="#media" data-toggle="tab" role="tab" aria-controls="media" aria-selected="false">Media</a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
      <div class="tab-content" id="tab-content">
          <div class=" tab-pane fade show active" id="implementation" role="tabpanel" aria-labelledby="implementation-tab">
              <dl class="row">
                  <dt class="col-sm-3">Agency</dt>
                  <dd class="col-sm-9">{{ object.implementing_agency.name }} ({{ object.implementing_agency.shortname }})</dd>

                  <dt class="col-sm-3">Source of funding</dt>
                  <dd class="col-sm-9">{{ object.funding_source.name }}</dd>

                  <dt class="col-sm-3">Total Project Cost</dt>
                  <dd class="col-sm-9">{{ object.total_project_cost|intcomma }}</dd>

                  <dt class="col-sm-3">Regions/Provinces</dt>
                  <dd class="col-sm-9">{% for area in object.administrative_area.all %} {{ area.name }}<br> {% empty %}No regions specified{% endfor %}</dd>

                  <dt class="col-sm-3">Timespan</dt>
                  <dd class="col-sm-9">{{ object.implementation_time_info }}</dd>
              </dl>
          </div>
          <div class="tab-pane fade" id="progress" role="tabpanel" aria-labelledby="progress-tab">
              <div class="row justify-content-center">
                  <div class="col-sm-8">
                      <ul class="timeline">
                          {% for progress_report in progress_reports %}
                          <li>
                              <a href="#" class="float-right">{{ progress_report.timeline_datetime.start }}</a>
                              <p>{{ progress_report.description }}</p>
                          </li>
                          {% empty %}
                          <p>No progress report.</p>
                          {% endfor %}
                      </ul>
                      {% if form %}
                      {% if perms.sites.frontend_access %}
                        <a data-toggle="collapse" href="#create-report-form-container" aria-expanded="false">Create a progress report</a>
                      {% endif %}
                      <div id="create-report-form-container" class="collapse">
                          <hr>
                          <form action="." method="post">{% csrf_token %}
                              {% bootstrap_form form %}
                              <button class="btn btn-primary pull-right" type="submit">Add progress report</button>
                          </form>
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab">
              <div class="row justify-content-center">
                  {% if perms.sites.frontend_access %}
                      <form id="media-form" action="{% url 'govproject.GovernmentProjectDetailView' slug=object.slug %}"
                            class="col-6"
                            method="post"
                            enctype="multipart/form-data">{% csrf_token %}
                          <!--{% bootstrap_form media_form %}-->
                          {{ media_form.as_p }}
                          <input type="hidden" name="accepts" value="media">
                          <button type="submit" class="btn btn-primary pull-right">Upload image</button>
                      </form>
                  {% endif %}
              </div>
              <div class="row">
                  {% for media_file in object.media_files.all %}
                    <div class="col-md-4 p-0 m-0">
                      <img src="{{ media_file.media.url }}" alt="{{ media_file.description|default:'project media file' }}" title="{{ media_file.description }}">
                    </div>
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>
{% endblock %}

{% block extra_footer %}
<script>
    if (window.location.hash) {
        $('.nav-link[href="' + window.location.hash + '"').click();
    }

    if ($("#id_PR-same_start_end").val() === "true") {
        $("#id_PR-when_end").prop("disabled", true);
    }
    $('#id_PR-same_start_end').on("change", function(e) {
        $("#id_PR-when_end").prop("disabled", $(this).val() === "true");
        if ($(this).val() === "true") {
            $("#id_PR-when_end").val(
                $("#id_PR-when_start").val()
            );
        }
    });
    $("#id_PR-when_start").on("change", function() {
        if ($('#id_PR-same_start_end').val() === "true") {
            $("#id_PR-when_end").val(
                $(this).val()
            );
        }
    });

</script>
{% endblock %}