{% extends "govproject/projects_base.html" %}

{% block content %}
    {{ block.super }}
    {% if form.errors %}
        <div class="alert alert-danger">
        {{ form.errors }}
        </div>
    {% endif %}
    Mark parject "{{ object.title }}" as complete?
    <form action="{% url 'govproject.ProjectCompletingView' object.slug %}" method="post">
        {% csrf_token %}
        <a href="{% url 'govproject.GovernmentProjectDetailView' object.slug %}" class="btn btn-secondary">Cancel</a>
        <input type="hidden" name="is_complete" value="true">
        <input type="submit" value="Yes, mark the project complete!" class="btn btn-primary">
    </form>
{% endblock %}