{% extends "govproject/projects_base.html" %}
{% load bootstrap4 %}

{% block content %}
    {{ block.super }}
    <a href="{% url 'govproject.GovernmentProjectListView' %}" class="button">&#8592; Back to projects</a>
    <h3>{{ user_action|default:"Add" }} a Government Project</h3>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="." method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% if user_action == 'Edit' %}
                    <a href="{% url 'govproject.GovernmentProjectDetailView' object.slug %}" class="btn btn-secondary">Cancel</a>
                {% endif %}
                <div class="pull-right">
                    <button class="btn btn-primary" type="submit" name="submit">Save</button>
                    {% if object.pk and object.is_draft %}
                        <button class="btn btn-primary" type="submit" name="submit" value="submit_and_publish">Save and Publish</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}