{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static '/vendor/now-ui-kit/assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/vendor/now-ui-kit/assets/css/now-ui-kit.min.css' %}">
        {% block extra_head %}
        {% endblock %}
        <title>Open Government Project Tracker</title>
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script src="{% static '/vendor/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static '/vendor/popper.min.js' %}"></script>
        <script src="{% static '/vendor/now-ui-kit/assets/js/bootstrap.min.js' %}"></script>
        {% block extra_footer %}
        {% endblock %}
    </body>
</html>