{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static '/vendor/now-ui-kit/assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/vendor/now-ui-kit/assets/css/now-ui-kit.min.css' %}">
        <link rel="stylesheet" href="{% static '/vendor/bootstrap-table.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/stylesheet.css' %}">
        {% block extra_head %}
        {% endblock %}
        <title>Open Government Project Tracker</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
          <div class="container">
            <a class="navbar-brand" href="/">Open Government Project Tracker</a>
          </div>
        </nav>
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-dismissible fade show alert-{{ message.tags }}" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
        <script src="{% static '/vendor/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static '/vendor/popper.min.js' %}"></script>
        <script src="{% static '/vendor/now-ui-kit/assets/js/core/bootstrap.min.js' %}"></script>
        <script src="{% static '/javascript/site.js' %}"></script>
        {% block extra_footer %}
        {% endblock %}
    </body>
</html>