{% load i18n %}
{% load bootstrap4 %}

{% if filter %}
<!-- Button trigger modal -->
<div class="buttons pull-right">
    <div class="btn btn-light" data-toggle="modal" data-target="#searchModal">
        <i class="now-ui-icons ui-1_zoom-bold"></i>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search projects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% bootstrap_form_errors filter.form %}
        <form action="" method="get" class="form">
            {% bootstrap_form filter.form %}
            {% bootstrap_button 'Apply Filter' button_class='btn-primary' %}
            <a href="?reset_filters=1" class="btn btn-secondary pull-right">{% trans 'Reset filters' %}</a>
        </form>
    </div>
    </div>
</div>
</div>
{% endif %}